{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}

<div class="edit-entry">
    <h2>Edit Entry</h2>
        <form method='POST' action=''>
          <div>{{ form.hidden_tag() }}</div>
          <div class='element'>{{ render_field(form.title) }}</div>
          <div class='element'>{{ render_field(form.date) }}</div>
          <div class='element'>{{ render_field(form.time_spent) }}</div>
          <div class='element'>{{ render_field(form.learning) }}</div>
          <div class='element'>{{ render_field(form.resources) }}</div>
        <input type="submit" value="Publish Entry" class="button">
        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
